body {background: #8E0E00;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.jumbotron {
    padding: 30px;
    background:#07c1e2; 
}

.navbar {
    padding: 30px;
    font: bold;
    background: rgb(16, 179, 207);
    text-align-last: right;
}

.navbar-nav {
    padding: 15px;
}
