{% extends"layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">What it's all about anyway?</h1>
    <p class="lead">Just keep navigating</p>
    <hr class="my-4">
    <p>There's nothing good to see here</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=VVzH9JEnUBc&t=14s" role="button">Do not click</a>
    </p>
    <p>I told you</p>
</div>
{% endblock %}