{% extends"layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">AYO!!</h1>
    <p class="lead">What's up people? Do you wanna check the latest real gaming shit?</p>
    <hr class="my-4">
    <p>Then hit da motherfucking shit downstairs</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.youtube.com/results?search_query=the+latest+real+gaming+shit" role="button">Gaming Shit</a>
    </p>
</div>
{% endblock %}