{% extends"layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello people</h1>
    <p class="lead">This is a just a test, the next thing to do is chill</p>
    <hr class="my-4">
    <p>So sit, relax and click that buttom... IF youre prepare to see ONLY the best </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=5vRlJrkxsqo&t=22s" role="button">The Best</a>
    </p>
</div>
{% endblock%}