<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer sitio web con Python</title>
    <!-- BOOTSTRAP 4-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Python Web</a>
          <a class="navbar-brand" href="/">Home</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav pull-right">
              <li class="nav-item">
                  <li class="pull-right">
                     <a class="nav-link active" aria-current="page" href="/about">About</a> 
                  </li>               
              </li>
              <li class="nav-item">
                <li class="pull-right">
                <a class="nav-link" href="/navi">Navi</a>
                </li>
              </li>
              <li class="nav-item">
                <li class="pull-right">
                <a class="nav-link" href="/games">Games</a>
                </li>
              </li>
            </ul>
          </div>
      </nav>
    <div class="container p-4">

        {% block content %}
        {% endblock %}

    </div>
    </body>
</html>