{% extends"layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hey listen</h1>
    <p class="lead">Thiss is a Navi section</p>
    <hr class="my-4">
    <p>If you need to chill press that button below</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=rJlY1uKL87k&t=380s" role="button">Chill</a>
    </p>
</div>
{% endblock %}